@use "../abstracts/mixins" as *;
@use "../utils/brackpoints" as *;

.description {
    @include flex(flex, column, center, center);

    &__body {
        max-width: 600px;
        @include flex(flex, column, center, center);
        gap: 20px;
    }
    &__title {
        @include font("Banny Bold Round", 36px, normal, normal);
        line-height: 48px;
        text-transform: uppercase;
        text-align: center;
    }
    &__decoration-line {
        margin: 0 auto;
    }
    &__text {
        @include font("Open_Sans", 18px, 700, normal);
        line-height: 28px;
        text-align: center;
        padding: 0px 10px;
    }
    &__text-normal {
        @include font("Open_Sans", 14px, 400, normal);
        line-height: 24px;
        text-align: center;
        padding: 0px 10px;
    }
}
