//Color pallet for Hunger Peaple web-page

//Text color
    $primary-text-clr: #fff;
    $secondary-text-clr: #1A1A1A;

    //secondary elements text color
    $gray-text-clr: #8c8c8c;

    //Delicious menu style
    $dark-text-clr: #333;


//Form colors
    $form-bg-clr: #e5e5e5;
    $form-text-clr: #8c8c8c;

//Decoration elements color
    $decor-clr: #E8C300;

    //Hover color
    $hover-clr: #E8C300;

//Background color
    $primary-bg-clr: #fff;

    //Footer color
    $footer-clr: #1A1A1A;